<!DOCTYPE html>
<html ng-app="agent_planner">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agent Planner</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/angular")
    @Scripts.Render("~/bundles/app")
</body>
</html>
